.kiriwa{
	float: left;
	margin-left:20.8333333333%;
	margin-top: 10.4166666667%; 
}
.kiribawahwa{
	float: left;
	margin-top: 36.25%; 
}
.kananbawahwa{
	float: right;
	margin-left:-40.8333333333%;
	margin-top: 36.25%; 
}

.kananwa{
	float:right;
	margin-right:20.8333333333% ;
	margin-top: 10.4166666667%; 
}