@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#navigation{
  width: 90%;
  margin: 0 auto;
}
h1:before{
  
}
h1{
  display: inline-block;
  margin-top: 40px;
}
#last-child:before{
  display: block;
  color: #444;
  content: "\f002";
  font-family: "fontAwesome";
  cursor: pointer;
  font-size: 30px;
  margin-top: -10px;
}
ul{
  margin-top: 50px;
  float: right;
  list-style: none;
}
li{
  margin-left: 30px;
  float: left;
}
a{
  color: #444;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
ul:hover{
  opacity: 0.7
}
a:hover{
  color: black;
}
#background{
  background: url('1.jpg') no-repeat;
  background-size: cover;
  width: 90%;
  height: 500px;
  margin: 50px auto;
  position: relative;
  background-position: center;
}
#white-bg{
  background: white;
  width: 400px;
  height: 100px;
  position: absolute;
  top: 430px;
  left: 30px;
}
h2{
  margin: 30px 0 0 10px;
}
span{
  color: #999;
  font-weight: 300;
}
p{
  color: #555;
  margin: 30px 0 0 0px;
  font-weight: bold;
  font-size: 15px;
}
#section{
  width: 700px;
  height: 550px;
  position: relative;
  left: 55%;
  transform: translate(-50%);
}
section{
  display: inline-block;
  width: 45%;
  height: 450px;
  margin-top: 60px;
}
#section2{
  margin-left: 10px;
  vertical-align: top;
}
img{
  width: 100%;
  height: 300px; 
}
h3{
  margin-top: 30px;
}
/*Upcoming Event*/
#upcoming-event{
  width: 760px;
  height: 290px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  left: 50%;
  transform: translate(-50%,-1%);
}
.events{
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  vertical-align: top;
}
.point{
  font-size: 40px;
}
h5{
  margin-top: 40px;
}
/* Image Site*/
#section-container{
  width: 900px;
  height: 1050px;
  position: relative;
  left: 50%;
  transform: translate(-50%,5%);
}
.section-child{
  display: inline-block;
  width: 30%;
  height: 240px;
  vertical-align: top;
  margin: 10px 0 140px 20px;
}
 #border:after{
  display: inline-block;
  background: #888;
  content: "";
  width: 1.3px;
  height: 300px;
  position: relative;
  top: -345px;
  left: 316px;
  box-shadow: 343px 0 0 0 #888,
    343px 370px 0 0 #888,
    0px 370px 0 0 #888;
} 
.section-child img{
  width: 100%;
  height: 100%;
}
#event-pera{
  margin-top: 17px;
}
#event-pera2{
  margin-top: 43px;
}

#button-form{
  text-align: center;
  height: 350px;
}
button{
  width: 220px;
  height: 50px;
  background: transparent;
  border: 2px solid;
  font-size: 20px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 transparent;
  transition: all 800ms ease;
  margin-top: 60px;
}
button:hover{
  box-shadow: inset 220px 0 0 0 #019875;
}
h6{
  margin-top: 70px;
  font-size: 14px;
}
form input{
  height: 30px;
}
#icon:after{
  display: inline-block;
  content: "\f002";
  font-family: "fontAwesome";
  position: relative;
  top: 35px;
  left: -126px;
  font-size: 25px;
}
input:nth-child(2){
  width: 250px;
  height: 45px;
  text-indent: 46px;
  border: 1px solid;
  vertical-align: top;
}
input[type="submit"]{
  width: 50px;
  height: 47px;
  background: none;
  border: 1px solid;
  border-left: none;
  font-size: 30px;
  cursor: pointer;
}
footer{
   width: 100%;
   border-top: 1px solid #ccc;
}
#footer{
  width: 80%;
  margin: 40px auto;
}
#footer ol{
  float: right;
  list-style: none;
  color: #999;
}
#footer ol li{
  cursor: pointer;
}
#footer ol li:nth-child(3):before{
  display: inline-block;
  content: "\f260";
  font-family: "fontAwesome";
  font-size: 22px;
}
#footer ol li:nth-child(4):before{
  display: inline-block;
  content: "\f099";
  font-family: "fontAwesome";
  font-size: 22px;
}
#footer ol li:nth-child(5):before{
  display: inline-block;
  content: "\f16d";
  font-family: "fontAwesome";
  font-size: 22px;
}
#footer ol li:hover{
  color: black;
}
#footer ol li:nth-child(3):hover{
  color: #DB0A5B;
}

#footer ol li:nth-child(4):hover{
  color: #1E8BC3;
}
#footer ol li:nth-child(5):hover{
  color: #F9690E;
}

@media screen and (max-width: 640px){
  
  h1{
    display: block;
    text-align: center;
    margin-left: 30px;
  }
  ul{
    display: inline-block;
    text-align: center;
    margin: 10px 0 0 ;
    float: none;
    line-height: 2.4;
    position: relative;
    left: 50%;
    transform: translate(-50%,10%);
  }
 ul li{
   float: none;
  }
  #img{
    margin-left: 30px;
  }
  
  img{
    height: 300px;
  }
 
}

@media screen and (max-width: 775px){
   h5{
    text-align: center;
  }
}
@media screen and (max-width: 745px){
  #upcoming-event{
    width: 300px;
    height: 1000px;
    margin-top: 40px;
  }
  h5{
   font-size: 25px;
  }
  .events{
    display: block;
    height: 260px;
    text-align: center;
    line-height: 1.7;
    border-bottom: 1px solid;
  }
  .events:last-child{
    border-bottom: none;
  }
  h4,span{
    font-size: 17px;
  }
  p{
    font-size: 20px;
  }
   #section-container{
    height: 2500px;
  }
  .section-child{
    width: 50%;
    position: relative;
    left: 200px;
    text-align: center;
  } 
  #footer span{
    display: block;
    text-align: center;
    margin: 10px;
  }
}
@media screen and (max-width: 873px) and (min-width: 745px){
  #section-container{
    height: 1200px;
  }
  .section-child{
    width: 40%;
    position: relative;
    left: 60px;
  }
}
footer{
  margin-top: 400px;
}








